__pycache__
test.html

/*.py
/*.txt
/*.json
/*.csv
/*.js
/pruneTables
!index.html
!movestest2.js
!README.md
!puzzleGen.min.js
!puzzleGen.min.js.map
!constants.js
!0_move_7_layers.js
!cpfb_4_layers.js
!moves.js
!trainer.js